body{
    background-image: linear-gradient(45deg, rgb(0, 120, 150), rgb(2, 78, 192), rgb(0, 0, 73));
    background-size: cover;
    font-family: Helvetica;
}
p{
    font-weight: 15px;
}
#menu{
    background-color: black;
    margin: -8px;
    display: flex;
    padding: 10px;
    color: white;
}
#logo{
    display: flex;
}
#header-img{
    width: 90px;
    height: 90px;
}
h2{
    font-size: 30px;
}

nav{
    position: relative; 
    margin-left: 50%;
    margin-top: 25px;
}

.nav-link{
    color: white;
    text-decoration: none;
    margin: 10px 10px 0 10px;
    font-size: 20px;
    text-align: right;
    padding: 5px 10px;
    transition: 200ms;

}
.nav-link:hover{
    border-bottom: 2px solid rgb(0, 0, 145);
}

main{
    justify-content: center;
    margin: 5%;    
}

h1{
    font-size: 40px;
}

.items{
    padding: 20px;
    text-align: center;
}

#cta{
    margin-top: 5%;
    text-align: center;
}

input[type='email']{
    width: 50%;
    font-size: 15px;
    padding: 15px;
    border: 0px;
    border-radius: 7px;
    margin-bottom: 10px;
}

#features{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    align-items: center;
    margin: 20px 10px;
    padding: 0 10px;
}

.icons{
    width: 100px;
    height: 100px;
}

.video{
    margin-top: 5%;
    width: 85%;
    height: 85%;
    align-content: center;
    position: relative;
    left: 7%;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    
}

.product{
    display: inline-block;
    margin: 20px;
    border: 1px dotted rgb(63, 63, 149);
    padding-bottom: 20px;
}
.product button, input[type='submit']{
    background-color:  rgb(63, 63, 149);
    padding: 15px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: large;
}
.product button:hover, input[type='submit']{
    cursor: pointer;
    background-color:  rgb(39, 39, 155);
}
.show:hover{
    opacity: 0.85;
    cursor: pointer;
}

#Pricing{
    text-align: center;
}

footer{
    padding: 20px;
    margin: -8px;
    background-color: black;
    text-align: center;
}

li{
    display: inline;
    text-decoration: none;
}
ul{
    margin-left: -50px;
}

#code{
    position: fixed;
    left: 0;
    bottom: 45%;


}
#code a{
    text-decoration: none;
    color: whitesmoke;
}
#code p{
    background-color:  rgb(63, 63, 149);
    padding: 7px;
    border-radius: 25px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

#scrollBtn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: white;
    border: 1.7px solid white;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    z-index: 10;
    background-color: black;   
}
#scrollBtn:hover{
    background: linear-gradient(20deg, whitesmoke, rgb(180, 180, 246));
    color: rgb(63, 63, 149);
    cursor: pointer
}